/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 21px;
}

/* top players styles */
.section-title {
    color: #562EFF;
    font-size: 24px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 15px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 27px;
}

/* ---- Top Blogs ----- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    /* background-color: white; */
}

.blog {
    display: flex;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 15px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}


/* ------------Courses style--------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 24px;

}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 15px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.fa-start {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;

}

.fa-star.empty {
    color: #AEAEAE;

}

/* 
.time {
    color: #9F9F9F;
    margin: 4px;
}

.clock {
    color: gainsboro;
    ;
}

.course-duration {

    border-radius: 25px;
    background-color: #FF4A60;
    margin-left: 10px;
    padding: 2px;
} */

/* ---------Media queri for customize device------------- */


/* -------Mobile device------- */
@media only screen and (max-width: 677px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
        background-color: mediumspringgreen;
        border-radius: .5%;
    }

    .player,
    .blog {
        flex-direction: column;
    }
}

/* -----------tablet devices--------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        background-color: aqua;
        border-radius: 5px;
    }

    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

}